@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&family=Sedgwick+Ave+Display&display=swap");
.main-app-title {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
